.container-form-search-user, .container-list-users{
    margin: 30px 130px;
}

.container-users{
    width: -webkit-fill-available;
}

.table img{
    width: 22px;
}

.table button{
    background-color: transparent;
    border-style: none;
}