.container-dashboard.modal-active{
    overflow: hidden;
}
.container-dashboard{
    height: fit-content;
}
.button-form-search-role img{
    width: 30px;
}

.button-form-search-role{
    background-color: transparent;
    border-style: none;
}
.errores{
    color: red;
}