body{
    background: #cbcbcb !important;
    font-family: 'Mooli', sans-serif;
    list-style: none;
}
.container-home-movies{
    display: flex;
    flex-direction: column;
    margin: 30px 200px;
}
.container-home-movies ul{
    list-style: none;
}

@media (max-width: 992px){
    .container-home-movies{
        display: flex;
        margin: 30px 50px;
    }
}
