.navbar{
    background-color: #10104e;
    height: 72px;
}

.logo-navbar{
    width: 50px;
}
.navbar .button-search{
    background-color: transparent;
    border-style: none;
}

.navbar #navbarTogglerDemo02{
    margin: 0px 20px;
}
.navbar .container-fluid{
    background-color: #10104e;
}
.navbar #input-movie-search{
    margin-right:30px;
}
/* Estilos menu  dropdown usuario */
#dropdownMenuUser {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-style: none;
}
#dropdownMenuUser img{
    width: 35px;
}
#dropdown{
    margin-left: 10px;
}
.dropdown-item.disabled{
    color: black !important;
}
/* Estilos menu  dropdown peliulas favorias */
#dropdownMenuFavorites {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    padding: 0px;
}

.button-search img, #dropdownMenuFavorites img{
    width: 34px;
}

#dropdownMenuFavorites img, #dropdownMenuUser img{
    padding-top: 4px;
    filter: invert(1);
}

#Container-dropdown-menu-favorites ul{
    width: 270px;
    padding: 0px;
    background-color: transparent;
    border-style: none;
}
#Container-dropdown-menu-favorites button{
    border-style: none;
}
#Container-dropdown-menu-favorites h4{
    font-size: 15px;
}
#Container-dropdown-menu-favorites li{
    padding: 0px 10px;
    border-style: groove;
    border-radius: 15px;
    border-color: #ffffff1c;
    font-size: 15px;    
    background-color:  #f5f7f7ed;
}

.navbar .Container-dropdown-menu-user{
    margin: 10px 20px;
}
.container-favorite-movie{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: auto;
    margin: 5px 2px;
}
.container-favorite-movie .image-favorite-movie{
    width: 65px !important;
    border-radius: 10px;
}

.container-favorite-movie-data h4, .container-favorite-movie-data p, #Container-dropdown-menu-favorites a{
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px;
}
.container-favorite-movie-data, .dropdown-menu button {
    width: -webkit-fill-available;
}

@media (min-width: 992px){
    .navbar{
        padding: 0px 150px 0px 150px;
    }
    .container-home-movies{
        margin: 30px 100px;
    }
    .dropdown-menu.show{
        right: 0 !important;
        left: auto !important;
    }
}
@media (min-width: 768px){
    .dropdown-menu.show{
        right: 0 !important;
        left: auto !important;
    }
}
@media (min-width: 1348px){
    .container-home-movies{
        margin: 30px 250px;
    }
    .container-carousel-billboard{
        margin: 0px 60px;
    }
}

@media (max-width: 992px){
    #container-dropdown-user-movies{
        margin: 15px;
    }
    
}