
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.container-spinner{
  position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
}

@media (max-width: 992px){
  #container-menu-dashboard{
      width: auto;
      height: auto;
  }
  .accordion{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .container-dashboard{
    flex-direction: column;
  }
}
